body {
    background: black;
    color: white;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.timertitle {
    font-size: 36px;
}

.timer {
    font-size: 42px;
}